@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.button {
  width: 110px;
  height: 46px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0 10px;
  border-radius: 4px;
  color: #2f281e;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;

  &__wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__subwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger-button {
    position: relative;
    display: none;
    height: 30px;
    width: 40px;
    border: none;
    background: none;
    &-line {
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: #173a56;
      left: 5px;
      transition: transform 0.4s, opacity 0.4s;
      &:nth-child(1) {
        transform: translateY(-10px);
      }
      &:nth-child(3) {
        transform: translateY(10px);
      }
    }
  }

  &__nav {
    display: inline-block;

    ul {
      display: flex;
    }

    &-items {
      display: inline;
      margin-right: 20px;
    }

    &-items:last-child {
      margin: 0;
    }

    &-items a {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-decoration: none;
      color: #2f281e;
    }

    &-items a:hover {
      color: #ff9900;
    }
  }

  &__buttons {
    display: inline-block;
  }

  &__button__sign_in {
    background-color: transparent;
    border: 1px solid #bcd0e5;
  }

  &__button__sign_up {
    background-color: #ff9900;
    border: #ff9905;
    color: #ffffff;
  }

  @media screen and (max-width: 1200px) {
    &__wrapper {
      width: 85%;
    }
  }

  @media screen and (max-width: 1024px) {
    &__wrapper {
      width: 85%;
    }

    &__nav-items a {
      font-size: 13px;
    }

    &__logo {
      width: 120px;
      height: 25px;
    }

    &__button {
      width: 80px;
      height: 35px;
      font-size: 13px;
    }
  }

  @media screen and (max-width: 768px) {
    &__subwrapper {
      width: 100%;
    }

    &__nav {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 10px;
    }

    &__burger-button {
      display: block;
    }

    &.open &__burger-button-line {
      &:nth-child(1) {
        transform: translateY(0) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
      }
    }

    &.open &__container {
      height: auto;
    }

    &__container {
      position: absolute;
      top: 85px;
      left: 0;
      right: 0;
      overflow: hidden;
      height: 0;
      background-color: #ffffff;
      padding: 0;
      transition: 0.5s;
      &-list {
        gap: 15px;
        flex-direction: column;
        text-align: right;
        &__item {
          font-size: 18px;
          display: block;
        }
      }
    }

    ul {
      width: 100%;
      text-align: center;
      flex-direction: column;
    }

    &__nav-items {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      width: 100&;
    }

    &__border {
      border: 1px solid #f2f2f2;
      width: 100%;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      gap: 15px;

      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    &-items a {
      font-size: 11px;
    }

    &__button {
      width: 100px;
      height: 40px;
      margin: 10px 0;
      font-size: 12px;
    }
  }
}

.section {
  display: flex;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 120px;
  }

  &__info--items h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 30px;
  }

  &__info--items p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 20px;
  }

  &__button__get_started {
    width: 180px;
    height: 50px;
    border: #ff9900;
    background-color: #ff9900;
    color: #ffffff;
    margin: 0 auto;
  }

  @media screen and (max-width: 1200px) {
    &__wrapper {
      width: 85%;
    }
  }

  @media screen and (max-width: 1024px) {
    &__wrapper {
      flex-direction: column;
      width: 85%;
    }

    .main_img {
      width: 85%;
      height: 400px;
    }

    &__info--items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 27px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .main_img {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    &__info--items {
      h1 {
        font-size: 23px;
      }

      p {
        font-size: 13px;

        br {
          display: none;
        }
      }
    }

    &__button__get_started {
      width: 150px;
      height: 40px;
      font-size: 13px;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 105px;
  width: 100%;

  &__wrapper {
    width: 100%;
    height: 510px;
    position: relative;
  }

  &__wrapper h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }

  &__wrapper img {
    width: 100%;
    position: absolute;
  }

  &__background {
    width: 100%;
  }

  &__button-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__button {
    width: 180px;
    height: 50px;
    background-color: #ff9900;
    border: 1px solid #ff9900;
    border-radius: 4px solid #ff9900;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    z-index: 1;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 50px;

    &__wrapper h2 {
      font-size: 30px;
    }

    &__background {
      height: 450px;
    }
  }

  @media screen and (max-width: 768px) {
    &__background {
      height: 600px;
    }

    &__button-wrapper {
      height: 400px;
    }
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 150px;

    &__wrapper h2 {
      font-size: 24px;
    }

    &__background {
      height: 800px;
    }

    &__button-wrapper {
      height: 450px;
    }

    &__button {
      width: 150px;
      height: 40px;
      font-size: 13px;
    }
  }
}

.add__wrapper {
  width: 1200px;
  height: 390px;
  display: flex;
  margin: 0 auto;

  &__info {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    height: 175px;

    &-item {
      display: flex;
      flex-direction: column;
    }

    &-item img {
      width: 50px;
      height: 50px;
      padding-bottom: 30px;
      position: relative;
    }

    &-item h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #2f281e;
      padding-bottom: 15px;
    }

    &-item p {
      font-weight: 500;
      size: 16px;
      line-height: 26px;
      color: #544837;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 85%;

    &__info {
      width: 85%;
    }

    &__info-item {
      width: 20%;
    }
  }
  @media screen and (max-width: 1024px) {
    &__info-item img {
      height: 30px;
      width: 30px;
      padding-bottom: 20px;
    }

    &__info-item h3 {
      font-size: 18px;
      padding-bottom: 8px;
    }

    &__info-item p {
      font-size: 13px;
      padding-bottom: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    &__info {
      flex-wrap: wrap;
    }

    &__info-item {
      width: 40%;
    }

    &__info-item img {
      height: 25px;
      width: 25px;
      padding-bottom: 15px;
    }

    &__info-item h3 {
      font-size: 16px;
      padding-bottom: 6px;
    }

    &__info-item p {
      font-size: 12px;
      padding-bottom: 10px;
    }
  }
}

.footer {
  display: flex;
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    height: 209px;
    margin: 0 auto;
    padding: 70px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2f281e;
  }

  &__nav-item a {
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    line-height: 26px;
    text-decoration: none;
  }

  &__nav-item a:hover {
    color: #ff9900;
  }

  &__nav-item:first-of-type {
    padding-top: 30px;
  }

  &__nav-item {
    padding-bottom: 15px;
  }

  &__nav-item:last-child {
    padding-bottom: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 210px;
  }

  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid #bcd0e5;
    margin: 20px 0;
    padding: 0;
  }

  ::placeholder {
    color: #bcd0e5;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-left: 5px;
  }

  .button__sign_up_now {
    width: 180px;
    height: 50px;
    background-color: #ff9900;
    border: 1px solid #ff9900;
    border-radius: 4px solid #ff9900;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  @media screen and (max-width: 1200px) {
    &__wrapper {
      width: 85%;
    }
  }

  @media screen and (max-width: 1024px) {
    &__wrapper {
      width: 85%;
    }

    &__img {
      width: 120px;
      height: 25px;
    }

    &__title {
      font-size: 17px;
    }

    &__nav-item a {
      font-size: 13px;
    }

    &__form {
      width: 280px;
    }
  }

  @media screen and (max-width: 768px) {
    &__wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50px 200px 300px;
      gap: 10px;
    }

    &__img {
      grid-area: 1 / 1 / 2 / 4;
    }

    &__nav-first {
      grid-area: 2 / 1 / 3 / 2;
    }

    &__nav-second {
      grid-area: 2 / 2 / 3 / 3;
    }

    &__title {
      font-size: 15px;
    }

    &__form {
      width: 100%;
      grid-area: 3 / 1 / 4 / 3;
    }

    &__input {
      width: 85%;
    }

    ::placeholder {
      font-size: 13px;
    }

    .button__sign_up_now {
      width: 150px;
      height: 40px;
      font-size: 13px;
    }
  }
}
